#about {
  @include breakpoint($breakpoint-tablet) {
    padding: 54px 0 32px;
  }

  position: relative;
  overflow: hidden;

  padding: 205px 0;
  background: linear-gradient(
    180deg,
    #07628f 3%,
    rgba(#0a679c, 0.78) 57%,
    #449eda 100%
  );
}

.about {
  &__content {
    @include breakpoint($breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding-left: 0;
    }

    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;

    padding-left: 100px;
    color: $color-text__white;
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
  }

  &__important {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 54px;

      font-size: 24px;
      line-height: 1.25;
    }

    position: relative;

    font-weight: $weight-Bold;
    font-size: 54px;

    line-height: 1;

    span {
      @include breakpoint($breakpoint-tablet) {
        font-size: 40px;
      }

      font-weight: $weight-ExtraBold;
      font-size: 86px;
    }
  }

  &__text {
    @include breakpoint($breakpoint-tablet) {
      margin: 0;
      font-size: $font-size__text--small;
      text-align: center;
      transform: none;
    }

    margin-left: 60px;
    font-size: $font-size__title--small;

    transform: translateY(60px);
  }

  &__shape {
    @include breakpoint($breakpoint-tablet) {
      left: 50%;
      width: 150px;
      height: 150px;
    }

    position: absolute;
    top: 55%;
    left: 45%;

    width: 300px;
    height: 300px;

    transform: translate(-50%, -50%);

    max-inline-size: initial;
    max-block-size: initial;
  }

  &__cloud {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    position: absolute;
    right: 0;
    bottom: -65%;
  }
}
