#buy {
  .section__header {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 4px;
    }
  }
}

.buy {
  @include breakpoint($breakpoint-tablet) {
    padding: 16px 0 48px;
    border: none;
    box-shadow: none;
  }

  position: relative;
  padding: 16px 78px 48px;
  border: 3px solid $palette-blue;
  border-radius: 34px;

  box-shadow: 0 6px 10px rgba(#000000, 0.25);

  &__text {
    @include breakpoint($breakpoint-tablet) {
      font-weight: $weight-Medium;
      line-height: $line-height--primary;
      text-align: center;
    }

    line-height: 2.15;
  }

  &__action {
    @include breakpoint($breakpoint-tablet) {
      margin-top: 8px;
      text-align: center;
    }

    margin-top: 64px;
  }

  &__help {
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }

    display: none;
    margin-top: 8px;

    color: $color-text__gray;
    font-size: $font-size__text--small - 2px;
    text-align: center;
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      position: relative;
      z-index: -1;
      top: 0;
      right: 0;

      width: 240px;
      margin: 0 auto;
      margin-top: 8px;

      transform: rotate(-5deg);
    }

    position: absolute;
    top: 60%;
    right: 40px;

    transform: translateY(-50%);
  }
}
