// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  margin-bottom: 0;
  padding-bottom: 80px;

  background-image: url("../img/layout/page/index/hero/background.jpg");
  background-size: 100%;
}

.hero {
  position: relative;
  padding-top: 85px;

  &__subtitle {
    margin-bottom: 8px;
  }

  &__title {
    margin-bottom: 25px;

    font-weight: $weight-ExtraBold;
    font-size: $font-size__title--large;

    text-transform: uppercase;
  }

  &__description {
    min-height: 120px;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__action {
    margin-top: 72px;
    text-align: center;
  }

  &__picture {
    position: absolute;
    top: 0;
    right: 0;
  }
}
