#manufacturing {
  @include breakpoint($breakpoint-tablet) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  margin-bottom: 0;
  padding: 90px 0 355px;
  background-color: $palette-lightgray;
}

.manufacturing {
  @include breakpoint($breakpoint-tablet) {
    text-align: center;
  }

  position: relative;

  &__video {
    @include breakpoint($breakpoint-tablet) {
      position: static;
      width: 80%;
      margin: 0 auto;
    }

    position: absolute;
    top: 100px;
    right: -150px;

    text-align: center;
  }

  &__wrapper {
    position: relative;

    @media (hover: hover) {
      &:hover {
        .manufacturing__play {
          opacity: 0.6;
        }
      }
    }
  }

  &__play {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: $transition ease;
  }

  &__label {
    display: block;
    margin-top: -8px;

    color: $color-text__gray;
    font-size: $font-size__text--small;
  }

  &__text {
    @include breakpoint($breakpoint-tablet) {
      margin-top: 32px;
    }
  }
}
