#portfolio {
  .section__title br {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }
}

.portfolio {
  &__advantage {
    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
      align-items: center;

      .block-advantage {
        width: 100%;
        max-width: 240px;
        margin-left: 32px;
      }
    }

    display: flex;
    justify-content: center;

    margin-bottom: 60px;

    .block-advantage {
      br {
        display: none;
      }

      img {
        @include breakpoint($breakpoint-tablet) {
          left: -40px;
          width: 60px;
        }

        top: -10px;
        left: -50px;
        width: 80px;

        &:not(:last-child) {
          @include breakpoint($breakpoint-tablet) {
            margin-bottom: 32px;
          }

          margin-bottom: 16px;
        }
      }

      &:not(:last-child) {
        @include breakpoint($breakpoint-tablet) {
          margin-right: 0;
          margin-bottom: 24px;
        }

        margin-right: 75px;
      }
    }
  }

  &__more {
    @include breakpoint($breakpoint-tablet) {
      height: calc(100% - 28px);
      padding: 0 12px;

      border-radius: 4px 4px 60px;

      font-size: $font-size__text--small;
      text-align: center;
    }

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: calc(100% - 38px);
    border-radius: 10px 10px 100px;
    background-color: #3058bf;

    color: $color-text__white;
    font-weight: $weight-Bold;

    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        border-bottom-right-radius: 10px;
      }
    }

    img {
      @include breakpoint($breakpoint-tablet) {
        width: 48px;
        margin-top: 24px;
      }

      margin-top: 48px;
    }
  }
}
