#seo {
  .section__header {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 16px;
    }

    margin-bottom: 30px;
  }

  .section__title {
    font-size: $font-size__text--large;
  }
}

.seo {
  &__content {
    @include breakpoint($breakpoint-tablet) {
      text-align: justify;
    }

    line-height: 1.5;

    p {
      @include breakpoint($breakpoint-tablet) {
        text-indent: 20px;
      }

      text-indent: 40px;
    }
  }
}
