#warranty {
  @include breakpoint($breakpoint-tablet) {
    margin-top: 0;
    background-color: $palette-lightgray;
  }

  margin-top: -280px;
}

.warranty {
  @include breakpoint($breakpoint-tablet) {
    flex-direction: column;
  }

  display: flex;
  align-items: center;

  .section__title {
    line-height: 1.25;
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(#000000, 0.25);
  }

  &__content {
    @include breakpoint($breakpoint-tablet) {
      width: 100%;
      padding: 48px 0 24px;
    }

    position: relative;
    z-index: 2;

    flex-shrink: 0;

    width: 560px;

    padding-top: 95px;
    padding-right: 48px;
    padding-bottom: 80px;

    color: $color-text__white;

    a {
      color: $color-text__white;
    }

    .warranty__text {
      @include breakpoint($breakpoint-tablet) {
        margin-bottom: 24px;
        text-align: center;
      }
    }

    &::before {
      @include breakpoint($breakpoint-tablet) {
        right: initial;
        left: -10px;

        width: 101vw;

        border-radius: 60px 60px 0 0;
      }

      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;

      width: 100vw;
      height: 100%;

      border-radius: 0 146px 146px 0;
      background-image: linear-gradient(
        188deg,
        #1b7fcd 2.13%,
        #2284cf 43.61%,
        #63b9e3 60.22%,
        #2586d0 75.88%,
        #1b7fcd 93.25%
      );
    }
  }

  &__additional {
    @include breakpoint($breakpoint-tablet) {
      padding-bottom: 32px;
      background-color: $palette-white;
    }

    position: relative;
    background-color: $palette-gray;

    .warranty__text {
      @include breakpoint($breakpoint-tablet) {
        margin-top: 24px;
        margin-bottom: 32px;
        margin-left: 0;

        text-align: center;
      }

      margin-bottom: 105px;
      margin-left: 64px;
    }

    .warranty__picture {
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }

      width: 50vw;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__text {
    margin-bottom: 48px;
  }

  &__action {
    @include breakpoint($breakpoint-tablet) {
      text-align: center;
    }

    margin-bottom: 16px;
  }

  &__picture {
    position: relative;
    left: -30px;
  }

  &__badge {
    @include breakpoint($breakpoint-tablet) {
      right: 30px;
      bottom: 0;
      width: 120px;
    }

    position: absolute;
    right: 0;
    bottom: -30px;
  }

  &__document {
    @include breakpoint($breakpoint-tablet) {
      position: static;
      margin-left: 0;
    }

    position: absolute;
    top: 90%;
    left: 0;

    display: flex;
    margin-left: 108px;

    & > a {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    picture {
      @include breakpoint($breakpoint-tablet) {
        width: auto;
      }

      width: 180px;
      height: 100%;

      @media (hover: hover) {
        &:hover img {
          opacity: 0.6;
        }
      }

      img {
        transition: $transition ease;
      }
    }
  }
}
