<div id="mobile-menu" class="mobile-menu">
  <div class="mobile-menu__overlay"></div>

  <div class="mobile-menu__container">
    <nav class="nav nav--mobile">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="">О компании</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Застройщикам</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Государственным учреждениям</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Коммерчиским организациям</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Объекты</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Контакты</a>
        </li>
      </ul>
    </nav>
    <!-- /.nav -->
  </div>
  <!-- /.mobile-menu__container -->
</div>
<!-- /.mobile-menu -->