.block-advantage {
  @include breakpoint($breakpoint-tablet) {
    padding-left: 28px;
    font-size: 12px;
  }

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5px 24px 8px 40px;

  border-radius: $border-radius;
  background: linear-gradient(
    266deg,
    #ffffff -3.52%,
    #d9d9d9 17.07%,
    #ffffff 36.49%,
    #d9d9d9 61.24%,
    #ffffff 97.56%
  );
  box-shadow: 0 3px 3px rgba(#000000, 0.25);

  font-size: $font-size__text--small;
  line-height: 1.15;

  &:not(:last-child) {
    margin-right: 60px;
  }

  h3 {
    font-weight: $weight-Bold;

    span {
      @include breakpoint($breakpoint-tablet) {
        font-size: $font-size__text--big;
      }

      font-size: $font-size__text--large + 4px;
    }
  }

  img {
    @include breakpoint($breakpoint-tablet) {
      left: -50px;
    }

    position: absolute;
    top: 0;
    left: -40px;
  }
}
