[data-editor="default"] {
  h2 {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--big;
    }

    font-size: $font-size__text--large + 6px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
  }

  figcaption {
    display: block;
    margin-top: 8px;

    font-weight: $weight-Medium;
    font-size: $font-size__text--small - 2px;
  }

  a {
    text-decoration: underline;

    @media (hover: hover) {
      &:hover {
        color: $color-text__blue;
      }
    }
  }

  blockquote {
    @include breakpoint($breakpoint-tablet) {
      padding: 24px;
    }

    display: block;

    padding: 36px 72px;
    border: 2px solid $palette-blue;
    border-radius: 15px;

    text-align: justify;
  }

  ul,
  ol {
    padding-left: 24px;
    list-style-type: initial;

    li {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
