// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  @include breakpoint($breakpoint-tablet) {
    margin-top: 70px;
  }

  margin-top: 130px;
  color: $color-text__white;

  a {
    color: $color-text__white;
  }
}

.footer {
  &__content {
    padding-top: 32px;
    padding-bottom: 40px;

    background-color: $palette-blue;
  }

  &__heading {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 24px;
      text-transform: uppercase;
    }

    margin-bottom: 32px;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__nav {
    margin-bottom: 32px;
  }

  &__contact {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    display: flex;
    flex-direction: column;

    font-size: $font-size__text--small - 2px;
  }

  &__info {
    padding-top: 18px;
    padding-bottom: 12px;

    background-color: $palette-darkblue;
  }

  &__about {
    @include breakpoint($breakpoint-tablet) {
      flex-direction: column-reverse;
      color: $color-text__gray;

      br {
        display: none;
      }
    }

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    font-size: 12px;
  }

  &__wrapper {
    & > * {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        @include breakpoint($breakpoint-tablet) {
          margin-bottom: 12px;
        }

        margin-bottom: 20px;
      }
    }
  }
}
