// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.disable-scroll {
  overflow: hidden;
}

.font-secondary {
  font-family: Montserrat, sans-serif;
}

.container {
  &--wide {
    @include breakpoint(min-width 991px) {
      max-width: 1120px !important;
    }
  }
}
