.card-portfolio {
  position: relative;

  @media (hover: hover) {
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 8px;
      border-radius: 4px;
    }

    overflow: hidden;
    width: 100%;

    margin-bottom: 16px;
    border-radius: $border-radius;

    aspect-ratio: 5 / 4;
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      padding-left: 0;
      font-size: $font-size__text--small;
    }

    padding-left: 8px;
    font-weight: $weight-Bold;
  }
}
