.button {
  display: inline-block;
  padding: 18px 32px;

  border: none;
  border-radius: 20px;
  outline: none;

  background-color: transparent;

  font-weight: $weight-Bold;
  text-shadow: 0 4px 4px rgba(#000000, 0.25);

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
