@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="home">
  <section id="hero" class="section">
    <div class="container">
      <div class="hero">
        <h2 class="hero__subtitle font-secondary">Одно из крупнейших на Юге России</h2>
        <h1 class="hero__title">
          Производство
          <br>
          стеклопакетов
        </h1>

        <div class="hero__wrapper">
          <p class="hero__description font-secondary">
            Стеклопакет - главный в окне.
            <br>
            Он занимает 80% всего пространства окна, поэтому
            <br>
            в большей степени от него зависит тепло и тишина в доме
          </p>

          <div class="hero__info">
            <div class="hero__advantage font-secondary">
              <img src="img/layout/page/index/hero/info/1.png" alt="">
              <h3>3300 кв.м</h3>
              <span>
                площадь
                <br>
                производства
              </span>
            </div>
            <!-- /.hero__advantage -->

            <div class="hero__advantage font-secondary">
              <img src="img/layout/page/index/hero/info/2.png" alt="">
              <h3>с 1996 г.</h3>
              <span>
                работаем
                <br>
                со стеклом
              </span>
            </div>
            <!-- /.hero__advantage -->

            <div class="hero__advantage font-secondary">
              <img src="img/layout/page/index/hero/info/3.png" alt="">
              <h3>до 1200</h3>
              <span>
                стеклопакетов
                <br>
                производим в день
              </span>
            </div>
            <!-- /.hero__advantage -->
          </div>
          <!-- /.hero__info -->
        </div>
        <!-- /.hero__wrapper -->

        <picture class="hero__picture">
          <img src="img/layout/page/index/hero/picture.png" alt="">
        </picture>

        <div class="hero__action">
          <button class="button button-primary">Выбрать стеклопакет</button>
        </div>
        <!-- /.hero__action -->
      </div>
      <!-- /.hero -->
    </div>
    <!-- /.container -->
  </section>

  <section id="about" class="section">
    <div class="container">
      <div class="about">
        <div class="about__content">
          <div class="about__important">
            Более
            <br>
            <span>200+</span>

            <img src="img/layout/page/index/about/ellipse.svg" alt="" class="about__shape">
          </div>

          <p class="about__text">
            модификаций стеклопакетов
            <br>
            мы разработали за время
            <br>
            существования нашей компании.
          </p>
        </div>
        <!-- /.about__content -->

        <img src="img/layout/page/index/about/picture.png" alt="" class="about__picture">
        <img src="img/layout/page/index/about/cloud.png" alt="" class="about__cloud">
      </div>
      <!-- /.about -->
    </div>
    <!-- /.container -->
  </section>

  <section id="catalog" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section__title--underline text-center">
          Каталог стеклопакетов
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="catalog">
        <div class="row gy-5">
          <div class="col-3">
            @@include('layout/template/card/catalog.html', {
            "image": "img/layout/template/card/catalog/1.jpg"
            })
          </div>
          <!-- /.col-3 -->

          <div class="col-3">
            @@include('layout/template/card/catalog.html', {
            "image": "img/layout/template/card/catalog/2.jpg"
            })
          </div>
          <!-- /.col-3 -->

          <div class="col-3">
            @@include('layout/template/card/catalog.html', {
            "image": "img/layout/template/card/catalog/3.jpg"
            })
          </div>
          <!-- /.col-3 -->

          <div class="col-3">
            @@include('layout/template/card/catalog.html', {
            "image": "img/layout/template/card/catalog/4.jpg"
            })
          </div>
          <!-- /.col-3 -->

          <div class="col-3">
            @@include('layout/template/card/catalog.html', {
            "image": "img/layout/template/card/catalog/5.jpg"
            })
          </div>
          <!-- /.col-3 -->

          <div class="col-3">
            @@include('layout/template/card/catalog.html', {
            "image": "img/layout/template/card/catalog/6.jpg"
            })
          </div>
          <!-- /.col-3 -->

          <div class="col-3">
            @@include('layout/template/card/catalog.html', {
            "image": "img/layout/template/card/catalog/7.jpg"
            })
          </div>
          <!-- /.col-3 -->

          <div class="col-3">
            @@include('layout/template/card/catalog.html', {
            "image": "img/layout/template/card/catalog/8.jpg"
            })
          </div>
          <!-- /.col-3 -->
        </div>
        <!-- /.row -->

        <img src="img/layout/page/index/catalog/background.jpg" alt="" class="catalog__background">
      </div>
      <!-- /.catalog -->
    </div>
    <!-- /.container -->
  </section>

  <section id="gallery" class="section">
    <div class="gallery">
      <div class="swiper">
        <div class="swiper-wrapper gallery__grid">
          <div class="swiper-slide">
            <picture class="gallery__picture lazy">
              <img class="image image--cover lazy__item lazy__item--blur" data-src="img/layout/page/index/gallery/1.jpg" alt="">
            </picture>
          </div>
          <!-- /.swiper-slide -->

          <div class="swiper-slide">
            <picture class="gallery__picture lazy">
              <img class="image image--cover lazy__item lazy__item--blur" data-src="img/layout/page/index/gallery/2.jpg" alt="">
            </picture>
          </div>
          <!-- /.swiper-slide -->

          <div class="swiper-slide">
            <picture class="gallery__picture lazy">
              <img class="image image--cover lazy__item lazy__item--blur" data-src="img/layout/page/index/gallery/3.jpg" alt="">
            </picture>
          </div>
          <!-- /.swiper-slide -->

          <div class="swiper-slide">
            <picture class="gallery__picture lazy">
              <img class="image image--cover lazy__item lazy__item--blur" data-src="img/layout/page/index/gallery/4.jpg" alt="">
            </picture>
          </div>
          <!-- /.swiper-slide -->

          <div class="swiper-slide">
            <picture class="gallery__picture lazy">
              <img class="image image--cover lazy__item lazy__item--blur" data-src="img/layout/page/index/gallery/5.jpg" alt="">
            </picture>
          </div>
          <!-- /.swiper-slide -->
        </div>
        <!-- /.swiper-wrapper -->
      </div>
      <!-- /.swiper -->
    </div>
    <!-- /.gallery -->
  </section>

  <section id="article-block" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title text-center">
          Полезные статьи
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="article-block">
        <div class="row">
          <div class="col-4">
            @@include('layout/template/card/article.html',
            {
            "image": "img/layout/template/card/article/1.jpg",
            "title": "Чем отличается стекло <br> от стеклопакета?",
            "text": "Стеклопакет – это светопрозрачная конструкция, в которой между стеклянными листами, по принципу слоеного пирога, находится пустое пространство – камера..."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/article.html',
            {
            "image": "img/layout/template/card/article/2.jpg",
            "title": "Триплекс стекло - что это?",
            "text": "Стеклопакет – это светопрозрачная конструкция, в которой между стеклянными листами, по принципу слоеного пирога, находится пустое пространство – камера..."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/article.html',
            {
            "image": "img/layout/template/card/article/3.jpg",
            "title": "Расшифровка формул <br> стеклопакетов",
            "text": "Стеклопакет – это светопрозрачная конструкция, в которой между стеклянными листами, по принципу слоеного пирога, находится пустое пространство – камера..."
            })
          </div>
          <!-- /.col-4 -->
        </div>
        <!-- /.row -->

        <a href="" class="article-block__link">
          <img src="img/layout/page/index/article-block/ellipse.svg" alt="">
        </a>
      </div>
      <!-- /.article-block -->
    </div>
    <!-- /.container -->
  </section>

  <section id="seo" class="section">
    <div class="container">
      <div class="seo">
        <div class="section__header">
          <h2 class="section__title text-center">
            Краткая информация о стеклопакетах
          </h2>
        </div>
        <!-- /.section__header -->

        <div class="seo__content">
          <p>
            Стеклопакет – это герметичная конструкция, состоящая из 2-х или более стёкол, соединённых между собой дистанционными рамками. Герметичность стеклопакету обеспечивают 2 слоя герметика, надёжно склеивающих всю конструкцию. Поскольку стеклопакет занимает наибольшую площадь в оконных конструкциях, то в основном именно на них лежит
            ответственность за
            уровень звукоизоляции, сохранения тепла в доме и защиту от солнца. Конечно, какой-то процент тепла и шума удерживает профиль, но скорее он выполняет вспомогательную функцию. Стеклопакеты могут быть 1-камерными, 2-камерными и даже 3-камерными, энергосберегающими, шумозащитными, безопасными, цветными и много ещё какими. Камеры
            стеклопакета
            могут
            наполнятся инертным газом (аргон, криптон).Так как стеклопакет главный в окне, поэтому выбору стеклопакета отведена важная роль. Ещё больше информации о стеклопакетах читайте в наших статьях.
          </p>
        </div>
        <!-- /.seo__content -->
      </div>
      <!-- /.seo -->
    </div>
    <!-- /.container -->
  </section>
</main>

@@include('layout/partials/footer.html')