@@include('layout/partials/header.html')

<main id="single-article">
  <section id="article" class="section">
    <div class="container">
      <ol class="page__breadcrumbs">
        <li>
          <a class="link" href="">Главная</a>
        </li>

        <li>
          <a class="link" href="">Статьи</a>
        </li>

        <li>
          <span>Расшифровка формул стеклопакетов</span>
        </li>
      </ol>

      <div class="article">
        <div class="page__header">
          <div class="row">
            <div class="col-12 col-md-8">
              <h1 class="page__title">
                Расшифровка формул стеклопакетов
              </h1>
            </div>
            <!-- /.col-8 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.page__header -->

        <div class="row">
          <div class="col-12 col-md-8">
            <div data-editor="default" class="article__content">
              <figure>
                <img src="img/layout/single/article/1.jpg" alt="">
                <figcaption>Закалённое стекло</figcaption>
              </figure>
              <br>
              <p>
                Формула стеклопакета отображает его конструктивные особенности. Символы обозначают характеристики стекол, дистанционных рамок и газовой смеси, заполняющей камеры.
                <br> <br>
                Расшифровка формулы стеклопакета идет с наружного стеклянного листа, находящегося с уличной стороны. Первые символы — миллиметровка и марка стекла, через черту пишется второе значение — это ширина внутренней рамки, третье значение — свойства второго стекла, потом вновь идет ширина второй рамки, и завершает маркировку третье стекло
                (при условии
                двухкамерного стеклопакета), располагаемое с «домашней» стороны.
              </p>
              <br>
              <br>
              <br>
              <h2>Классификация стеклопакетов по количеству камер и их обозначения (аббревиатуры)</h2>
              <br>
              <p>Формульная запись может начинаться с аббревиатуры, обозначающей количество камер. Если в начале стоит СПО — это означает, что стеклопакет имеет одну камеру. Формулы двухкамерных стеклопакетов начинаются с аббревиатуры СПД. Здесь СП — сокращение «стеклопакета», а О и Д — соответственно, «однокамерный» или «двухкамерный».</p>
              <br>
              <br>
              <br>
              <br>
              <img src="img/layout/single/article/2.jpg" alt="">
              <br>
              <br>
              <p>Наиболее распространенные цвета — серый и бронзовый.</p>
              <br>
              <ul>
                <li>4Т; 4Т1 – бронза;</li>
                <li>4TGy – серое.</li>
              </ul>
              <br>
              <br>
              <blockquote>
                Внимание! Для расшифровки формулы стеклопакета обратитесь к производителю данного Стеклопакета!
                <br> <br>
                Если на Вашем стеклопакете указан производитель ФабрикантЪ Стеклопакеты мы сможем Вам помочь с расшифровкой стеклопакета. Просим Вас отправить фотографию этикетки или номер договора на почту <a href="mailto:info@okna-fabricant.ru">info@okna-fabricant.ru</a>
              </blockquote>
            </div>
            <!-- /.article__content -->
          </div>
          <!-- /.col-7 -->

          <div class="col-12 col-md-4 d-none d-md-block">
            <div class="article__nav position-sticky">
              <div>Советы покупателям</div>

              <nav class="nav nav--article">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link link" href="">
                      Чем отличается стекло от стеклопакета?
                    </a>
                  </li>

                  <li class="nav__item">
                    <a class="nav__link link" href="">
                      Триплекс стекло - что это?
                    </a>
                  </li>

                  <li class="nav__item">
                    <a class="nav__link link" href="">
                      Сколько можно ежегодно экономить денег на услугах ЖКХ благодаря стеклопакету?
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- /.nav -->
            </div>
            <!-- /.article__nav -->
          </div>
          <!-- /.col-5 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.article -->
    </div>
    <!-- /.container -->
  </section>
</main>

@@include('layout/partials/footer.html')